.quiz-container{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
}

.btn{
  background-color: blue;
  color:white;
}

.selectedAnswer{
  cursor:pointer
}
.selectedAnswer:hover{
  background-color:#999
}
